<h2>Edit this food item!</h2>



<form action="/foods/<%= @food.id %>" method="POST">
Name: <input type="text" name='food[name]' value='<%= @food.name %>'><br>
Cuisine: <input type="text" name='food[cuisine]' value="<%= @food.cuisine %>"><br>
Price: <input type="text" name='food[price]' value="<%= @food.price %>"><br>
Allergens: <input type="text" name='food[allergens]' value="<%= @food.allergens %>"><br>

<input type="hidden" name="_method" value="patch">
<input type="submit">
</form>

<form action="/foods/<%= @food.id %>" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Food">
</form> 