<h3><a href="/foods">Menu</a></h3>
<ul class="menu-detail-list">
  <li>Item: <%= @food.name %></li>
  <li>Cuisine: <%= @food.cuisine %></li>
  <li>Price: <%= @food.price %></li>
  <li>Allergens: <%= @food.allergens %></li>
</ul>

<ul>
	<li><a href="/foods/<%= @food.id %>">
		<%= @food.name %></a>
	</li>


<a href="/foods/<%= @food.id %>/edit">Edit Foods</a>

 