<h1>The Rustic Cafe</h1>
<h3>Restaurant Parties</h3>
<ul>
  <li>Table_Number: <%= @party.table_number %></li>
  <li>Guests: <%= @party.guests %></li>
  <li>Paid: <%= @party.paid %></li>
</ul>

<ul>
	<li><a href="/parties/<%= @party.id %>">
		<%= @party.table_number %></a>
	</li>



<a href="/parties/<%= @party.id %>/edit">Edit Parties</a>



<h2>Add a new order to this party!</h2>

<form action="/orders" method="POST">
	<input type="hidden" name="order[party_id]" value="<%= @party.id %>" />
<select name="order[food_id]">
	<% @foods.each do |food| %>
	<option value="<%= food.id %>"><%=food.name %></option>
	<% end %> 	
</select>
<select name="order[food_id]">
	<% @foods.each do |food| %>
	<option value="<%= food.id %>"><%=food.name %></option>
	<% end %> 	
</select>
<select name="order[food_id]">
	<% @foods.each do |food| %>
	<option value="<%= food.id %>"><%=food.name %></option>
	<% end %> 	
</select>

 <input type="submit">
</form>



